@charset "UTF-8";
/**
 *  Foundation
 * ============================ */
/*****************************
* A Modern CSS Reset (https://github.com/hankchizljaw/modern-css-reset)
* 上記に、ul要素,ol要素,a要素への記述追加
*****************************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: initial;
}

html {
  font-size: 100%;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.1111111111vw;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "zen-old-mincho", sans-serif;
  color: #222222;
  font-size: 0.9375rem;
  letter-spacing: 0.04em;
}

/**
  *  Layout
  * ============================ */
/**
  *  Object
  * ============================ */
/* Component ----------------*/
.c-button {
  border: solid 1px #222222;
  height: 4rem;
  width: 17rem;
  position: relative;
  background-color: #222222;
}
.c-button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #222222;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-button:hover a {
  color: #fff;
}
.c-button:hover::before {
  background-color: #222222;
}
.c-button::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  border: solid 1px #222222;
  border-radius: 10px;
  height: 4rem;
  width: 17rem;
  background-color: #fff;
}

.c-menubutton {
  position: absolute;
  top: 40px;
  right: 16px;
  height: 3px;
  width: 1.875rem;
  background-color: #fff;
}
.c-menubutton::before, .c-menubutton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.c-menubutton::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: -10px;
}
.c-menubutton::after {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 10px;
}
.c-menubutton.active {
  background-color: #222222;
  z-index: 1;
}
.c-menubutton.active::before {
  -webkit-transform: translateY(10px) translateX(-15px) rotate(45deg);
          transform: translateY(10px) translateX(-15px) rotate(45deg);
}
.c-menubutton.active::after {
  -webkit-transform: translateY(-10px) translateX(-15px) rotate(-45deg);
          transform: translateY(-10px) translateX(-15px) rotate(-45deg);
}

.c-arrowbutton {
  display: block;
  background-image: url(./../image/arrowbutton-black.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 2.125rem;
  width: 2.125rem;
  border: solid 1px #000;
  border-radius: 2.125rem;
}
.c-arrowbutton:hover {
  background-image: url(./../image/arrowbutton-white.png);
  background-color: #000;
}

.c-separator::after {
  content: "";
  position: absolute;
  border-top: solid 1px #fff;
  width: 100%;
  bottom: 0;
}

.c-back--black50 {
  background-color: #000;
  opacity: 0.5;
}

.c-logo {
  display: block;
  height: 6.25rem;
  width: 6.25rem;
}
@media screen and (min-width: 768px) {
  .c-logo {
    height: 9.8125rem;
    width: 9.8125rem;
  }
}
.c-logo img {
  margin: auto;
  margin-bottom: 0.9375rem;
}

/* Project ------------------*/
.p-header {
  height: 100vh;
  background-color: #222222;
  position: relative;
  top: 0;
}
@media screen and (min-width: 768px) {
  .p-header {
    height: 47.75rem;
  }
}
.p-header__logo {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-header__logo {
    top: 1.5rem;
    left: 5rem;
  }
}
.p-header__textarea {
  position: absolute;
  top: 30%;
  margin-left: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-header__textarea {
    top: 18.375rem;
    left: 10.5rem;
  }
}
.p-header__text {
  color: #fff;
  font-size: 1.875rem;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .p-header__text {
    font-size: 3rem;
  }
}
.p-header__text--small {
  font-size: 1rem;
  padding-top: 1.875rem;
}

.p-menulist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .p-menulist {
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5rem;
    gap: 2rem;
  }
}
.p-menulist__item {
  padding-top: 1.5rem;
  z-index: 1;
}
.p-menulist__item a {
  color: #fff;
  line-height: 1.65;
  letter-spacing: 0.2em;
}
.p-menulist__resave {
  width: 10.625rem;
  height: 3.4375rem;
  border: solid 1px #fff;
  display: table;
  padding-top: 0;
  margin-top: 1.5rem;
}
.p-menulist__resave a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.p-menulist.active {
  pointer-events: all;
  opacity: 1;
}
.p-menulist.active li {
  z-index: 1;
}

.p-menulist--footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.9375rem;
}
.p-menulist--footer__item {
  padding-bottom: 1rem;
}
.p-menulist--footer__item a {
  color: #fff;
  line-height: 1.65;
}
.p-menulist--footer__resave {
  width: 10.625rem;
  height: 3.125rem;
  border: solid 1px #fff;
  display: table;
  padding-bottom: 0;
  margin-top: 1rem;
}
.p-menulist--footer__resave a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.p-mainvisual {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 4.375rem 1.5625rem;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-mainvisual {
    margin: 0;
    padding: 6.25rem 6.25rem 5rem 6.25rem;
  }
}
.p-mainvisual__item {
  height: 100%;
}
.p-mainvisual__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .p-mainvisual__item img {
    -o-object-fit: inherit;
       object-fit: inherit;
  }
}

.p-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgb(25, 25, 25);
  opacity: 0.8;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-bg {
    display: none;
  }
}
.p-bg.active {
  z-index: 0;
}

.p-sns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  gap: 1.25rem;
}
.p-sns.active {
  opacity: 1;
}
.p-sns.active li {
  z-index: 1;
}
.p-sns__icon {
  height: 1.25rem;
  width: 1.25rem;
}

.p-sns--PC {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-sns--PC {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    height: 100%;
    position: absolute;
    top: 0;
    right: 2.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p-sns--PC a {
    color: #fff;
  }
}

.p-menu--SP {
  position: absolute;
  right: 0;
  margin-right: 1.25rem;
  top: 20%;
}
.p-icon__01 {
  position: absolute;
  width: 70%;
  z-index: -1;
}
.p-icon__02 {
  position: absolute;
  right: 0;
  bottom: -8.75rem;
  height: 13.125rem;
  width: 12.5rem;
  z-index: -1;
}
.p-icon__02 img {
  position: absolute;
}
.p-icon__02 img:nth-child(2) {
  bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-icon__02 {
    height: 23.125rem;
    width: 22.5rem;
    bottom: -6.875rem;
  }
  .p-icon__02 img:nth-child(2) {
    bottom: 4.375rem;
  }
}
.p-icon__03 {
  position: absolute;
  right: 1.875rem;
  top: 2.5rem;
  height: 6.25rem;
  width: 6.25rem;
  z-index: -1;
}
.p-icon__03 img {
  position: absolute;
}
.p-icon__03 img:nth-child(2) {
  bottom: 3.9375rem;
  right: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .p-icon__03 {
    width: 12.5rem;
    top: 7.6875rem;
    right: 4.6875rem;
  }
  .p-icon__03 img:nth-child(2) {
    bottom: 1.875rem;
    right: 4.6875rem;
  }
}
.p-icon__04 {
  position: absolute;
  left: 1.25rem;
  bottom: -6.25rem;
  height: 6.25rem;
  width: 6.25rem;
  z-index: -1;
}
.p-icon__04 img {
  position: absolute;
}
.p-icon__04 img:nth-child(2) {
  bottom: 4.0625rem;
  right: -1.25rem;
}
@media screen and (min-width: 768px) {
  .p-icon__04 {
    width: 12.5rem;
    left: 3.75rem;
    bottom: 0.3125rem;
  }
  .p-icon__04 img:nth-child(2) {
    bottom: 1.875rem;
    right: -2.1875rem;
  }
}
.p-icon__05 {
  position: absolute;
  right: 1.875rem;
  top: 2.5rem;
  height: 6.25rem;
  width: 6.25rem;
  z-index: -1;
}
.p-icon__05 img {
  position: absolute;
}
.p-icon__05 img:nth-child(2) {
  top: -1rem;
  right: 1.375rem;
}
@media screen and (min-width: 768px) {
  .p-icon__05 {
    width: 12.5rem;
    top: 7.375rem;
    right: 7.375rem;
  }
  .p-icon__05 img:nth-child(2) {
    top: -1.875rem;
    right: 3.125rem;
  }
}
.p-icon__06 {
  position: absolute;
  left: 0;
  height: 9.375rem;
  width: 10rem;
  z-index: -1;
}
.p-icon__06 img {
  position: absolute;
}
.p-icon__06 img:nth-child(2) {
  top: -0.125rem;
  left: 0.25rem;
}
@media screen and (min-width: 768px) {
  .p-icon__06 {
    width: 21.0625rem;
    height: 19.4375rem;
    bottom: -14.6875rem;
  }
  .p-icon__06 img:nth-child(2) {
    bottom: 1.875rem;
    right: 5.625rem;
  }
}
.p-icon__07 {
  position: absolute;
  right: 1.875rem;
  top: 1.875rem;
  height: 6.25rem;
  width: 6.25rem;
  z-index: -1;
}
.p-icon__07 img {
  position: absolute;
}
.p-icon__07 img:nth-child(2) {
  bottom: 3.9375rem;
  right: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .p-icon__07 {
    width: 12.5rem;
    top: 5.3125rem;
    right: -5.625rem;
  }
  .p-icon__07 img:nth-child(2) {
    bottom: 1.875rem;
    right: 4.6875rem;
  }
}
.p-icon__08 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 9.375rem;
}
@media screen and (min-width: 768px) {
  .p-icon__08 {
    width: auto;
  }
}
.p-icon__09 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 9.375rem;
}
@media screen and (min-width: 768px) {
  .p-icon__09 {
    width: auto;
  }
}
.p-icon__10 {
  position: absolute;
  right: 12.8125rem;
  top: 0.875rem;
  height: 6.25rem;
  width: 6.25rem;
  z-index: -1;
}
.p-icon__10 img {
  position: absolute;
}
.p-icon__10 img:nth-child(2) {
  bottom: 3.9375rem;
  right: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .p-icon__10 {
    width: 12.5rem;
    top: 43rem;
    right: -3.3125rem;
  }
  .p-icon__10 img:nth-child(2) {
    bottom: 1.875rem;
    right: 4.6875rem;
  }
}
.p-icon__11 {
  position: absolute;
  right: 1.875rem;
  top: -1.5rem;
  height: 6.25rem;
  width: 6.25rem;
  z-index: -1;
}
.p-icon__11 img {
  position: absolute;
}
.p-icon__11 img:nth-child(2) {
  bottom: 3.9375rem;
  right: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .p-icon__11 {
    width: 12.5rem;
    top: 1.875rem;
    right: 9.375rem;
  }
  .p-icon__11 img:nth-child(2) {
    bottom: 1.875rem;
    right: 4.6875rem;
  }
}
.p-icon__12 {
  position: absolute;
  left: 1.25rem;
  bottom: -2rem;
  height: 6.25rem;
  width: 6.25rem;
  z-index: -1;
}
.p-icon__12 img {
  position: absolute;
}
.p-icon__12 img:nth-child(2) {
  bottom: 4.0625rem;
  right: -1.25rem;
}
@media screen and (min-width: 768px) {
  .p-icon__12 {
    width: 12.5rem;
    left: 10rem;
    bottom: 1rem;
  }
  .p-icon__12 img:nth-child(2) {
    bottom: 1.875rem;
    right: -2.1875rem;
  }
}

.p-about__erea {
  position: relative;
  margin-bottom: 3.75rem;
}
@media screen and (min-width: 768px) {
  .p-about__erea {
    margin-bottom: 3.4375rem;
  }
}
.p-about__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-about__title {
  font-size: 3.125rem;
  font-weight: normal;
  margin-top: 4.375rem;
}
@media screen and (min-width: 768px) {
  .p-about__title {
    font-size: 8.125rem;
    margin-top: 12.5rem;
    letter-spacing: 0.045em;
  }
}
.p-about__text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-top: 2.5rem;
  font-size: 0.75rem;
  line-height: 1.2;
}
.p-about__text p:nth-child(2) {
  padding: 0 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-about__text {
    margin-top: 0.625rem;
    font-size: 0.9375rem;
    line-height: 1.95;
  }
  .p-about__text p:nth-child(2) {
    padding: 0 2rem;
  }
}

.p-title {
  position: relative;
}
.p-title__en {
  font-family: "garamond-premier-pro", serif;
  font-size: 3.125rem;
  font-weight: normal;
  color: #f3f3f3;
}
@media screen and (min-width: 768px) {
  .p-title__en {
    font-size: 10rem;
    line-height: 1;
    letter-spacing: 0.04em;
  }
}
.p-title__ja {
  position: absolute;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 0.625rem;
  line-height: 1;
  letter-spacing: 0.04em;
  top: 0;
  left: 30px;
}
@media screen and (min-width: 768px) {
  .p-title__ja {
    font-size: 1.25rem;
    letter-spacing: -4px;
    top: 0;
    left: 120px;
  }
}

/* guestroomより前に置く */
.p-guestroom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.p-guestroom__title {
  margin-top: 4.375rem;
}
@media screen and (min-width: 768px) {
  .p-guestroom__title {
    margin-top: 0;
    position: absolute;
    top: 9.375rem;
    left: 7.5rem;
  }
}
.p-guestroom__content {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .p-guestroom__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15.1875rem;
  }
}
.p-guestroom__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .p-guestroom__text {
    padding-left: 12.5rem;
    padding-top: 2.1875rem;
  }
}
.p-guestroom__button {
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-guestroom__button {
    margin-top: 5rem;
  }
}
.p-guestroom__img {
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-guestroom__img {
    margin-top: 0;
  }
}
.p-guestroom__letter {
  line-height: 2;
}

.p-dining {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 3.125rem;
}
@media screen and (min-width: 768px) {
  .p-dining {
    padding-bottom: 10rem;
  }
}
.p-dining__title {
  margin-top: 4.375rem;
}
@media screen and (min-width: 768px) {
  .p-dining__title {
    margin-top: 0;
    position: absolute;
    top: 160px;
    left: 41.5rem;
  }
}
.p-dining__content {
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-dining__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 16.375rem;
  }
}
.p-dining__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .p-dining__text {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 7.5rem;
    padding-top: 10px;
  }
}
.p-dining__button {
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-dining__button {
    margin-top: 5rem;
  }
}
.p-dining__img {
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-dining__img {
    margin-top: 0;
  }
}
.p-dining__letter {
  line-height: 2;
}

.p-activity {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-activity__backimg {
  width: 100%;
  height: 100%;
  background-image: url(../../../image/activity/activity.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}
.p-activity__bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
.p-activity__title {
  margin-top: 1.25rem;
  top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-activity__title {
    margin-top: 0;
    position: absolute;
    top: 9.6875rem;
    left: 7.5rem;
  }
}
.p-activity__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-activity__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    margin-top: 8.75rem;
    margin-bottom: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .p-activity__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 13.4375rem;
    padding-left: 6.5625rem;
  }
}
.p-activity__letter {
  line-height: 2;
}
.p-activity__button {
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-activity__button {
    margin-top: 5rem;
  }
}
.p-activity__img {
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-activity__img {
    width: 40rem;
    height: 27rem;
    margin-right: 1.25rem;
  }
}

.p-detail {
  position: relative;
  padding-bottom: 3.125rem;
}
@media screen and (min-width: 768px) {
  .p-detail {
    padding-bottom: 10.125rem;
  }
}
.p-detail__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .p-detail__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-right: 1.875rem;
    margin-top: 8.125rem;
    gap: 2.5rem;
  }
}
.p-detail__item {
  max-width: 23.875rem;
  margin-top: 1.25rem;
}
.p-detail__pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 1.25rem;
}
.p-detail__title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  top: 0;
  left: -0.5rem;
  font-size: 3.75rem;
  font-weight: normal;
  color: #8C7400;
  line-height: 1.2;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  letter-spacing: -0.2em;
}
.p-detail__titleEn {
  font-size: 0.875rem;
  line-height: 1;
  position: relative;
}
.p-detail__titleEn::before {
  content: "";
  position: absolute;
  border-top: solid 1px #000;
  width: 75%;
  top: 50%;
  left: -100%;
}
.p-detail__img {
  padding-top: 0.75rem;
  padding-left: 1.875rem;
}
.p-detail__text {
  padding-left: 1.875rem;
}
.p-detail__textTitle {
  font-size: 1.75rem;
  line-height: 1.2;
  padding-top: 2rem;
}
.p-detail__letter {
  line-height: 2;
  padding-top: 2rem;
}
.p-detail__link {
  line-height: 1.6;
  gap: 2rem;
  padding-top: 3rem;
}

.p-news {
  background-color: #f1f1ec;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-news {
    padding: 8.125rem 7.5rem 8.125rem;
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
  }
}
@media screen and (min-width: 768px) {
  .p-news__title {
    position: absolute;
    top: 10rem;
    left: 7.5rem;
  }
}
.p-news__link {
  margin-top: 1.875rem;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .p-news__link {
    margin-top: 0;
    margin-bottom: 1.75rem;
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
.p-news__list {
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-news__list {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}
.p-news__item {
  color: #222222;
  display: grid;
  grid-template-columns: 0.3fr 0.6fr 0.1fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  font-size: 0.8125rem;
  padding: 0.9375rem 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-news__item {
    padding: 1.75rem 0;
  }
  .p-news__item p {
    padding-left: 0.3125rem;
    line-height: 2.2;
  }
}
.p-news__item::before {
  content: "";
  position: absolute;
  background-image: url(../../../image/Subtract.png);
  height: 11px;
  width: 9px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.p-news__item:hover {
  opacity: 0.7;
}
.p-news__item:hover::before {
  right: -10px;
}
@media screen and (min-width: 768px) {
  .p-news__item {
    font-size: 0.9375rem;
  }
}
.p-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-gallery {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .p-gallery__title {
    position: absolute;
    left: 7.5rem;
    top: 7rem;
  }
}
.p-gallery__link {
  margin-top: 1.875rem;
  gap: 2rem;
  margin-left: auto;
  padding-right: 1.875rem;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-gallery__link {
    padding-right: 7.5rem;
    margin-top: 14.875rem;
    margin-bottom: 1.875rem;
  }
}
.p-gallery__img {
  margin-bottom: 3.125rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-gallery__img {
    margin-bottom: 8rem;
  }
}

.p-reserv {
  background-image: url(../../../image/reservation/reservation.jpg);
  position: relative;
  z-index: -2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .p-reserv {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.p-reserv__title {
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (min-width: 768px) {
  .p-reserv__title {
    left: initial;
    top: initial;
    right: -0.3125rem;
    bottom: 0;
  }
}
.p-reserv__content {
  color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  padding-top: 11rem;
  padding-bottom: 8.75rem;
}
@media screen and (min-width: 768px) {
  .p-reserv__content {
    padding-left: 12.5rem;
  }
}
.p-reserv__text {
  font-size: 1.5rem;
}
.p-reserv__tel {
  font-size: 2.5rem;
  color: #fff;
  line-height: 2.8;
}
.p-reserv__tel small {
  font-size: 1.5rem;
}
.p-reserv__tel a[href*="tel:"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.p-reserv__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.p-access {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  display: grid;
  justify-items: center;
  position: relative;
}
.p-access__content {
  line-height: 2.1;
  padding-left: 2.125rem;
  padding-bottom: 1.875rem;
  margin-top: 1rem;
}
.p-access__content p:nth-child(4) {
  font-weight: bold;
  letter-spacing: 2px;
}
.p-access__content p:nth-child(7) {
  font-weight: bold;
  letter-spacing: 2px;
}
.p-access__content address {
  font-style: normal;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-access {
    margin-top: 10rem;
    margin-bottom: 10rem;
    grid-template-columns: 0.42fr 0.58fr;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .p-access__title {
    grid-row: 1/2;
    grid-column: 1/2;
    position: absolute;
    left: 7.5rem;
  }
  .p-access__content {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-bottom: 2.5rem;
  }
  .p-access__map {
    padding-top: 1.25rem;
    grid-row: 1/3;
    grid-column: 2/3;
  }
}

.p-footer {
  background-color: #000;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 0.3fr;
  gap: 1.25rem;
  font-size: 0.75rem;
  padding: 6.25rem 1.5625rem;
}
@media screen and (min-width: 768px) {
  .p-footer {
    padding-top: 10rem;
    padding-left: 5.5rem;
    padding-right: 9rem;
    padding-bottom: 11.875rem;
  }
}
.p-footer__logo {
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: center;
}
.p-footer__link {
  grid-column: 1/2;
  grid-row: 1/2;
}
.p-footer__terms p {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .p-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .p-footer__logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .p-footer__link {
    grid-column: 4/5;
  }
  .p-footer__terms {
    grid-column: 5/6;
  }
}

.p-slider--main__item img {
  height: 100%;
  width: 100%;
}

.p-slider--about {
  width: 100%;
}
.p-slider--about__item {
  margin: 1.25rem;
}
.p-slider--about__item img {
  height: auto;
  width: 100%;
}

.p-slider--gallery {
  width: auto;
}
.p-slider--gallery__item {
  margin: 1.25rem;
  width: 18.75rem;
}
.p-slider--gallery__item img {
  height: 100%;
  width: 100%;
}

.p-slider--num {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1.25rem;
}
.p-slider--num span:nth-child(2) {
  position: relative;
  display: block;
  width: 3.75rem;
}
.p-slider--num span:nth-child(2)::before {
  content: "";
  position: absolute;
  border-top: solid 1px #fff;
  width: 100%;
}
.p-slider--num span:nth-child(1) {
  padding-right: 0.625rem;
}
.p-slider--num span:nth-child(3) {
  padding-left: 0.625rem;
}

/* Utility -------------------*/
.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

.u-separate {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-back-black {
  background-color: red;
  height: 120%;
}

.u-button--transparent {
  border-color: #fff;
  background-color: transparent;
}
.u-button--transparent a {
  color: #fff;
}
.u-button--transparent:hover a {
  color: #222222;
}
.u-button--transparent:hover::before {
  background-color: #fff;
}
.u-button--transparent::before {
  border-color: #fff;
  background-color: transparent;
}

.u-font--en {
  font-family: "garamond-premier-pro", serif;
}

.u-font--opacity20 {
  opacity: 0.2;
}

.u-font--opacity60 {
  opacity: 0.6;
}

.u-font--white {
  color: #fff;
}

.u-font--8rem {
  font-size: 0.5rem;
}

@media screen and (min-width: 768px) {
  .u-contents {
    display: contents;
  }
}

.u-paddingTop--50 {
  padding-top: 3.125rem;
}

.u-lineheight--50 {
  line-height: 0.5;
}

@media screen and (min-width: 768px) {
  .u-none {
    display: none;
  }
}

.u-sns--footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  opacity: 1;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-letterspacing--50 {
  letter-spacing: -5px;
}/*# sourceMappingURL=style.css.map */