@use "../../foundation/" as *;

.p-about{
  &__erea{
    position: relative;
    margin-bottom: rem(60);
    @include mq(md){
      margin-bottom: rem(55);
    }
  }
  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    font-size: rem(50);
    font-weight: normal;
    margin-top: rem(70);
    @include mq(md){
      font-size: rem(130);
      margin-top: rem(200);
      letter-spacing: 0.045em;
    }
  }
  &__text{
    writing-mode: vertical-rl;
    margin-top: rem(40);
    font-size: rem(12);
    line-height: 1.2;
    p:nth-child(2){
      padding: 0 rem(8);
    }
    @include mq(md){
      margin-top: rem(10);
      font-size: rem(15);
      line-height: 1.95;
      p:nth-child(2){
        padding: 0 rem(32);
      }
    }
  }
}
