@use "../../foundation/" as *;

.p-gallery{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: rem(50);

  &__title{
    @include mq(md){
      position: absolute;
      left: rem(120);
      top: rem(112);
    }
  }
    &__link{
    margin-top: rem(30);
    gap: rem(32);
    margin-left: auto;
    padding-right: rem(30);
    margin-bottom: rem(30);
    @include mq(md){
      padding-right: rem(120);
      margin-top: rem(238);
      margin-bottom: rem(30);
    }
  }
  &__img{
    margin-bottom: rem(50);
    width: 100%;

    @include mq(md){
      margin-bottom: rem(128);
    }
  }
}
