@use "../../foundation/" as *;

.p-icon--about{
  // position: relative;
  // height: rem(600);
  // width: 100%;
  // @include mq(md){
  //   height: rem(800);
  // }
}
.p-icon--guestroom{
  // display: none;
  // position: relative;
  // height: rem(600);
  // width: 100%;
  // @include mq(md){
    // height: rem(800);
  // }
}

.p-icon{
  &__01{
    position: absolute;
    width: 70%;
    z-index: -1;
  }
  &__02{
    position: absolute;
    right: 0;
    bottom: rem(-140);
    height: rem(210);
    width: rem(200);
    z-index: -1;
    img{
      position: absolute;
      &:nth-child(2){
        bottom: rem(40);
      }
    }
    @include mq(md){
      height: rem(370);
      width: rem(360);
      bottom: rem(-110);
      img{
        &:nth-child(2){
          bottom: rem(70);
        }
      }
    }
  }

  &__03{
    position: absolute;
    right: rem(30);
    top: rem(40);
    height: rem(100);
    width: rem(100);
    z-index: -1;
    img{
      position: absolute;
      &:nth-child(2){
        bottom: rem(63);
        right: rem(35);
      }
    }
    @include mq(md){
      width: rem(200);
      top: rem(123);
      right: rem(75);
      img{
        &:nth-child(2){
          bottom: rem(30);
          right: rem(75);
        }
      }
    }
  }

  &__04{
    position: absolute;
    left: rem(20);
    bottom: rem(-100);
    height: rem(100);
    width: rem(100);
    z-index: -1;
    img{
      position: absolute;
      &:nth-child(2){
        bottom: rem(65);
        right: rem(-20);
      }
    }
    @include mq(md){
      width: rem(200);
      left: rem(60);
      bottom: rem(5);
      img{
        &:nth-child(2){
          bottom: rem(30);
          right: rem(-35);
        }
      }
    }
  }

  &__05{
    position: absolute;
    right: rem(30);
    top: rem(40);
    height: rem(100);
    width: rem(100);
    z-index: -1;
    img{
      position: absolute;
      &:nth-child(2){
        top: rem(-16);
        right: rem(22);
      }
    }
    @include mq(md){
      width: rem(200);
      top: rem(118);
      right: rem(118);
      img{
        &:nth-child(2){
          top: rem(-30);
          right: rem(50);
        }
      }
    }
  }

  &__06{
    position: absolute;
    left: 0;
    height: rem(150);
    width: rem(160);
    z-index: -1;
    img{
      position: absolute;
      &:nth-child(2){
        top: rem(-2);
        left: rem(4);
      }
    }
    @include mq(md){
      width: rem(337);
      height: rem(311);
      bottom: rem(-235);
      img{
        &:nth-child(2){
          bottom: rem(30);
          right: rem(90);
        }
      }
    }
  }

  &__07{
    position: absolute;
    right: rem(30);
    top: rem(30);
    height: rem(100);
    width: rem(100);
    z-index: -1;
    img{
      position: absolute;
      &:nth-child(2){
        bottom: rem(63);
        right: rem(35);
      }
    }
    @include mq(md){
      width: rem(200);
      top: rem(85);
      right: rem(-90);
      img{
        &:nth-child(2){
          bottom: rem(30);
          right: rem(75);
        }
      }
    }
  }

  &__08{
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: rem(150);
    @include mq(md){
      width: auto;
    }
  }

  &__09{
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: rem(150);
    @include mq(md){
      width: auto;
    }
  }

  &__10{
    position: absolute;
    right: rem(205);
    top: rem(14);
    height: rem(100);
    width: rem(100);
    z-index: -1;
    img{
      position: absolute;
      &:nth-child(2){
        bottom: rem(63);
        right: rem(35);
      }
    }
    @include mq(md){
      width: rem(200);
      top: rem(688);
      right: rem(-53);
      img{
        &:nth-child(2){
          bottom: rem(30);
          right: rem(75);
        }
      }
    }
  }

  &__11{
    position: absolute;
    right: rem(30);
    top: rem(-24);
    height: rem(100);
    width: rem(100);
    z-index: -1;
    img{
      position: absolute;
      &:nth-child(2){
        bottom: rem(63);
        right: rem(35);
      }
    }
    @include mq(md){
      width: rem(200);
      top: rem(30);
      right: rem(150);
      img{
        &:nth-child(2){
          bottom: rem(30);
          right: rem(75);
        }
      }
    }
  }

  &__12{
    position: absolute;
    left: rem(20);
    bottom: rem(-32);
    height: rem(100);
    width: rem(100);
    z-index: -1;
    img{
      position: absolute;
      &:nth-child(2){
        bottom: rem(65);
        right: rem(-20);
      }
    }
    @include mq(md){
      width: rem(200);
      left: rem(160);
      bottom: rem(16);
      img{
        &:nth-child(2){
          bottom: rem(30);
          right: rem(-35);
        }
      }
    }
  }

}
