@use "../../foundation/" as *;

.p-menulist{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s;
  @include mq(md){
    opacity: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: rem(80);
    gap: rem(32);
  }
  &__item{
    padding-top: rem(24);
    a{
      color: $white;
      line-height: calc(1.65);
      letter-spacing: 0.2em;

      // transform: translate3d(0, 100%, 0);

      // &.active{
        // transform: translate3d(0, 0, 0);
      // }
    }
  }
  &__resave{
    width: rem(170);
    height: rem(55);
    border: solid 1px $white;
    display: table;
    padding-top: 0;
    margin-top: rem(24);
    a{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  &.active{
    pointer-events: all;
    opacity: 1;
    li{
      z-index: 1;
    }
  }
}

.p-menulist--footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
  // @include mq(md){
  //   flex-direction: row;
  //   justify-content: flex-end;
  //   align-items: center;
    // margin-right: rem(80);
    // gap: rem(32);
  // }
  &__item{
    padding-bottom: rem(16);
    a{
      color: $white;
      line-height: 1.65;
    }
  }
  &__resave{
    width: rem(170);
    height: rem(50);
    border: solid 1px $white;

    display: table;
    padding-bottom: 0;
    margin-top: rem(16);
    a{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

