@use "../../foundation/" as *;

.c-logo{
  display: block;
  height: rem(100);
  width: rem(100);
  @include mq(md){
    height: rem(157);
    width: rem(157);
  }
  img{
    margin: auto;
    margin-bottom: rem(15);
  }
}
