@use "../../foundation/" as *;

.u-back-black{
	background-color: red;
  height: 120%;
}

.u-bg--black{
  border-color: $white;
  background-color: $white;
  a{
    color: $white;
  }
  &:hover{
    a{
      color: $text;
    }
    &::before{
      background-color: $white;
    }
  }

  &::before{
  border-color: $white;
  background-color: $text;
  }
}
